body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: #86878b;;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* === header === */
.header__nav{
    background-color: #000;
}
.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__menu{
    text-align: center;
}
.borger__span{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}
.header__logo{
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    display: block; 
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.header__burger{
    display: none;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}
.header__list li{
    list-style: none;
    margin-left: 50px;
}
.header__link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #9c9c9c;
}
.header__link:hover{
    color: #ff8b38;    
}
@media(max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header__logo{
        flex:  0 0 50px ;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px; 
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #000;
        padding-top: 70px;
        text-align: center;
        transition: all .3s ease .3s;
        z-index: 2;
    }
    .header__menu.active{
        top: 0;
    }

    .header__list{
        display: block;
    }
    .header__list li{
        margin-bottom: 20px;
    }
    .header__link{
        font-size: 20px;
    }
}   

/* === header__content === */
.logo__content{
    padding: 110px 0 33px 0;
}
.header__title{
    font-size: 36px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 36px;
}
.vertical__line{
    width: 74px;
    height: 2px;
    background-color: #fff;
}
.header__subtitle{
    color: #9c9c9c;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 23px;
    padding: 30px 0 44px 0;
}
.button__animate {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #ffffff;
    padding: 15px 32px;
    margin-bottom: 140px;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    }
    .button__animate:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 4px;
    z-index: -2;
    }
    .button__animate:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ff9b51;
    transition: all .3s;
    border-radius: 4px;
    z-index: -1;
    }
    .button__animate:hover {
    color: #fff;
    }
    .button__animate:hover:before {
    width: 100%;
    }
.header__content__form{
    width: 360px;
    text-align: center;
    margin-top: 140px;
    margin-left: auto;
}
.header__content__form input{
    border: 0;
    width: 100%;
    color: #bdbdbd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    padding: 35px 0 14px 14px!important;
    outline: none;
}
.header__content__form div{
    background-color: #fff;
    padding: 0 45px;
}
.form__label{
    background-color: #f5f5f5;
    padding: 18px 53px 15px 53px;
    width: 100%; 
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.yelow{
    color: #ff9b51;
}
.yelow__bgc{
    background-color: #ff9b51;
}
.pasword__conteiner{
    padding-bottom: 50px!important;
}
.form__btn{
    width: 100%;
    border: 0;
    background-color: #ff9b51;
    padding: 20px;
}
@media(max-width: 991px){
    .logo__content{
    padding: 50px 0 33px 0;
    }
    .header__content__form{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .button__animate{
        margin-bottom: 20px;
    }
    .first__SML{
        margin-left: 0;
    }
    .header__content{
        text-align: center;
    }
    .header__content .vertical__line{
        margin: 0 auto;
    }
}
@media(max-width: 575px){
    .header__content__form{
        width: 100%;
    }
}
/* === header__content === */
/* === / header === */

/* === social__media === */
.social__media{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}
.social__media__title{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 22px 0 12px 0;
}
.social__media__subtitle{
    padding-bottom: 22px;
}
.social__media__link{
    margin-left: 40px;
    color: #cccccc;
    font-family: "Font Awesome";
    font-size: 48px;
    font-weight: 400;
}
.social__media__icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__media__icon .social__media__link{
    filter: drop-shadow(0px 7px 3px #000000);
    opacity: .5;
}
.social__media__icon .social__media__link:hover{
    filter: drop-shadow(0px 15px 3px #000000);
    opacity: 1;
}
.social__media__icon .fa-facebook-f{
    color: #3b5998;
}
.social__media__icon .link__twitter{
    color: #1da1f2;
}
.social__media__icon .link__google{
    color: #dd4b39;
}
.social__media__icon .link__pinterest{
    color: #dd4b39;
}
.social__media__icon .fa-instagram{
    color: #D4004D;
}
.social__media__icon .link__stumbleupon{
    color: #E64622;
}
.social__media__icon .link__rss{
    color: #F87101;
}
.social__media__icon .fa-facebook-f:hover{
    color: #3b5998;
}
.social__media__icon .link__twitter:hover{
    color: #1da1f2;
}
.social__media__icon .link__google:hover{
    color: #dd4b39;
}
.social__media__icon .link__pinterest:hover{
    color: #dd4b39;
}
.social__media__icon .fa-instagram:hover{
    color: #D4004D;
}
.social__media__icon .link__stumbleupon:hover{
    color: #E64622;
}
.social__media__icon .link__rss:hover{
    color: #F87101;
}
@media(max-width: 991px){
    .social__media__link{
        margin-left: 0;
    }
}
/* === / social__media === */
/* ===   tabs   === */
.tabs__section{
    border-top: 1px solid #d1d1d1;
    background-color: #f5f5f5;
    overflow: hidden;
}
.nav-pills .nav-link.active{
    background-color: #ff8b38;
}
.nav-link:focus, .nav-link:hover{
    color: #fff;
}
.btn__tabs{
    padding: 150px 0 115px 0;
}
.btn__tabs .nav{
    display: flex;
    flex-direction: column;
}
.nav__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #333333;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 1px;
}
.tabs__content{
    margin-left: 100px;
}
.tabs__content__title{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 155px 0 50px 0;
}
.tabs__content__subtitle__pading{
    padding-bottom: 30px;
}
.button {
    padding: 16px 25px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: .08em;
    position: relative;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease;
    overflow: hidden;
    border: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    background-color: #ff8b38;
    border: 0;
    margin-top: 50px;
}
.button:after {
    content: "";
    position: absolute;
    border: 0;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}
.button:focus, .button:hover {
    background: #ff8b38;
}
.button:active:after {
    width: 200px;
    height: 200px;
}
.content__tabs{
    max-width: 450px;
}
.tabs__img{
    right: -350px;
    position: absolute;
    top: 170px;
    padding-right: 20px;
}
@media(max-width: 991px){
    .tabs__img{
        position: relative;
        right: 0;
        top: 0;
        padding-right: 0;
        padding: 20px 0;
    }
    .tabs__content .button{
        display: block;
        margin: 20px auto;
    }
    .btn__tabs{
        padding: 50px  0 0 0 ;
    }
    .btn__tabs .nav{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .tabs__content__title{
        padding: 30px 0;
    }
    .tabs__content{
        margin-left: 0;
        text-align: center;
    }
    .button{
        margin: 20px 0;
    }
}
@media(max-width: 575px){
    .nav__btn{
        width: 85px;
        height: 85px;
    }
}
/* ===  / tabs   === */
/* ===  sub list === */
.sub__left__img {
    padding-top: 110px;
}
.sub__list__title{
    padding: 110px 0 30px 0;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
}
.sub__list__subtitle{
    padding: 30px 0 45px 0;
}
.sub__icon{
    width: 73px;
}
.sub__description{
    padding-left: 30px;
}
.sub__icon__title{
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding-bottom: 12px;
}
.icon__and__description{
    padding-top: 42px;
    padding-bottom: 133px;
}
@media(max-width: 991px){
    .sub__left__img{
        padding-top: 50px;
        margin: 0 auto;
        display: flex;
    }
    .sub__list__title{
        padding-top: 0;
    }
    .icon__and__description{
        padding-bottom: 50px;   
    }
}
/* === / sub list === */
/* ===   standard__picture   === */
.standard__picture{
    background-color: #f5f5f5;
}
.standard__picture__title{
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
    padding-bottom: 30px;
    padding-top: 105px;
}
.standard__picture__subtitle{
    padding-top: 30px;
}
.standard__picture__img{
    margin-left: 50px;
    padding: 75px 0;
}
@media(max-width: 991px){
    .standard__picture__title{
        padding-top: 50px;
    }
    .standard__picture__img{
        margin: 0 auto;
        display: flex;
        padding: 20px 0 0;
    }
}
/* === / standard__picture   === */
/* ===   our process  === */

/* -----   hat-------- */
.title__section{
    padding: 105px 0 30px 0;

    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
}
.subtitle__section{
    padding: 30px 0 115px 0;
}
@media(max-width: 991px){
    .title__section{
        padding-top: 50px;
    }
    .subtitle__section{
        padding-bottom: 50px;
    }
}
/* -----   hat-------- */

.our__process__icon__title{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 30px 0 25px 0;
}
.our__process__icon__subtitle{
    padding-bottom: 105px;
}
@media(max-width: 991px){
    .our__process__icon__subtitle{
        padding-bottom: 50px;
    }
}
/* === / our process  === */
/* ===   pricing   === */
.pricing{
    background-color: #f5f5f5;
}
.offer{
    background-color: #333333;
}
.offer__mt{
    margin-top: -47px;
}
.offer__nume{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 21px 0;
    margin-bottom: 1px;
}
.offer__price .value{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}
.offer__price{
    background-color: #333333;
}
.offer__number{
    padding: 30px 0 0 0;

}
.offer__price .price{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
}
.offer__subNumber{
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 28px 0 21px 0;
}
.offer__description{
    background-color: #fff;
}
.offer__description p{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1px;
    padding: 14px 0;
}
.offer__description__bottom{
    margin-bottom: 96px;
}
.yelow__line{
    width: 100%;
    height: 5px;
    background-color: #ff8b38;
}
.yelow__line__description p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ff8b38;
    padding: 14px 0;
    
}
/* === / pricing   === */
/* ===   rewiews   === */
.reviews__content{
    display: flex;
    justify-content: space-around;
}
.comment__text{
    background-image: url(../images/rewiews__bgi__comment.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.comment__text p{
    padding: 24px 12px 41px 12px;
}
.comment__author{
    display: flex;
    padding-top: 8px;
}
.comment__author img{
    padding: 0 15px 100px 0;
}
.reviews__name__authot{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 13px 0 8px 0;
}
@media(max-width: 767px){
    .reviews__content{
        flex-direction: column;
    }
    .comment__author img{
        padding-bottom: 50px;
    }
}
/* === / rewiews   === */
/* ===   custom design   === */
.parallax-window{
    background-size: cover;
}
.custom__design .hat .title__section{
    padding: 74px 0 26px 0;
    color: #fff;
}
.custom__design .hat .subtitle__section{
    color: #9c9c9c;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 23px;
    padding: 23px 0 33px 0;
}
.custom__design .hat .button__animate{
    margin-bottom: 63px;
}
/* === / custom design   === */
/* ===   contact   === */
.contact__input{
    border: 0;
    width: 100%;
    padding: 11px 0 9px 13px;
    color: #bdbdbd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    outline: none;
}
.contact__input__right{
    border: 0;
    width: 100%;
    padding: 11px 0 93px 13px;
    color: #bdbdbd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    outline: none;
}
.form__container{
    display: flex;
}
.contact .button{
    margin-top: 43px;
    padding: 15px 22px;
    margin-bottom: 80px;
}
@media(max-width: 991px){
    .contact .button{
        margin-bottom: 30px;
    }
}
@media(max-width: 767px){
    .form__container{
        display: block;
    }

}
/* === / contact   === */
/* ===   footer   === */
.footer{
    background-color: #000000;
}
.footer svg{
    color: #cccccc;
}
.footer__icon__link{
    margin-top: 38px;
    margin: 20px 0 15px 0;
    display: flex;
    justify-content: center;
}
.footer__link{
    margin-right: 30px;

    color: #cccccc;
    font-family: "Font Awesome";
    font-size: 24px;
    font-weight: 400;
}
.sub__icon__footer{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
@media(max-width: 991px){
    .footer__icon__link{
        margin: 10px 0;
    }
}
@media(max-width: 575px){
    .footer__icon__link{
        justify-content: space-around;
        margin-top: 10px;
    }
    .footer__link{
        margin-left: 0;
        margin: 5px 0;
    }
}
/* === / footer   === */
